body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(https://grid-paint.appspot.com/images/png/5099824051388416.png);
  background-size: contain;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
}

.blinky{
  content:url(https://static.giantbomb.com/uploads/scale_small/8/87790/2469740-blinky.png);
  height: 30px;
  width: 30px;
  position:absolute;
}

.inky{
  content:url(https://static.giantbomb.com/uploads/original/8/87790/2469741-inky.png);
  height: 30px;
  width: 30px;
  position:absolute;
}

.pinky{
  content:url(https://static.giantbomb.com/uploads/scale_small/8/87790/2469744-pinky.png);
  height: 30px;
  width: 30px;
  position:absolute;
}