body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(https://grid-paint.appspot.com/images/png/5099824051388416.png);
  background-size: contain;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #FB9394;
  font-weight: bold;
  text-decoration: none;
}
.addDancerButton, .doSomething, .lineUp {
  padding:5px 12px;
  float:right;
  border: 2px solid #FB9394;
  border-radius: 4px;
  margin-right: 6px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  letter-spacing: 1px;
}

.topbar{
  height:32px;
  background-color: #000;
}
.title{
  background-color: #000;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 48px;
  color: yellow;
}

.dancer{
  position: absolute;
}
/* change to hash & content to background */
.blinky{
  height: 30px;
  width: 30px;
  background-image: url('https://static.giantbomb.com/uploads/scale_small/8/87790/2469740-blinky.png');
  background-size: 30px 30px;
}
/* change to hash & content to background */
.inky{
  background-image: url('https://static.giantbomb.com/uploads/original/8/87790/2469741-inky.png');
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
 /* change to hash & content to background */
.pinky{
  background-image: url('https://static.giantbomb.com/uploads/scale_small/8/87790/2469744-pinky.png');
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
}